**/.dropbox.attr
**/.DS_Store
**/.Rhistory
**/.RData
**/.Rproj.user
**/.externalToolBuilders/
**/.project
**/.settings
**/.texlipse
**/cache
**/*.toc
**/*.bak
**/*.loc
**/*.synctex.gz
**/*.backup
**/*.fls
**/*fdb_latexmk
**/*.idx
**/*.ind
**/*.ilg
**/*.brf
**/*.blg
**/*.bbl
**/*.spl
**/*.dvi
**/*.log
**/*.aux
**/*.out
**/*concordance.tex
**/*~
**/\#*
report/figure/*
